<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="/styles/styles_taller.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

  <nav class="app__navegacion" id="nav-bar">
                <ul class="app__lista-nav">

                       <li class="app__item-navegacion app__item-navegacion--carrito"><i class="fas fa-reply-all"></i></li>

                    <li class="app__item-navegacion app__item-navegacion--titulo">{{nombre}}</li>

                    <li class="app__item-navegacion app__item-navegacion--carrito goCarrito"> <i class="app__carrito" data-feather="shopping-cart"></i> <p class="app__NoProducto"></p></li>
                    
                </ul>
                </nav>

    <div class="descripcion">
        <div class="descripcion__img">
            <div class="descripcion__imagen" style= "background-image: url(/imgs/{{imagen}})">
            </div>
                    <p class="descripcion__likes"> <i class="fas fa-heart"></i> Me gusta</p>

        </div>
        <div class="descripcion__detalles">     
            <div class="descripcion__nombre-categoria">
                <div class="descripcion__nombre">
                    <h1 class="detalles__nombre">{{nombre}}</h1>
                </div>
                <div class="descripcion__categ">
                    <h1><i class="fas fa-gamepad"></i> {{categoria}}</h1>
                </div>
                   </div>
                <div class="descripcion__precio">
                   <h2 class="detalles__precio">${{precio}}</h2> 
                    
                        <h2><i class="fas fa-street-view"></i>

 +{{clasificacion}}</h2>
                </div>

                     <div class="descripcion__iconos">
                         <div>
<i class="far fa-heart producto__corazon producto__icons"></i>
<i class="fas fa-plus producto__mas mas-detalles  producto__icons"></i>
                        </div>
                    </div>
                    <div class="descripcion__desc"> 
                        <h1 class="descripcion__titulo-detalles">Descripcción</h1>
                        <p class="descripcion__descripcion">{{descripcion}}</p>
                    </div>
        </div>
        <input class="detalles__categoria" type="hidden" value="{{categoria}}">
        <input class="detalles__pre" type="hidden" value="{{precio}}">
    </div>


    <script src="/js/taller2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>  
</body>
</html>