<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
    <link rel="stylesheet" href="/styles/styles_taller.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
    <section class="tienda">
        
<div class="app__fixed1">
            <nav class="app__navegacion" id="nav-bar">
                <ul class="app__lista-nav">
                    <li class="app__item-navegacion-logo"> <img src="/imgs/logo-gris.png" alt="" width="40vh">   </li>
                    <li class="app__item-navegacion">SWITCH</li>
                   
                    <li class="app__item-navegacion">TIENDA</li>
                    <li class="app__item-navegacion">INICIO</li>
                    <li class="app__item-navegacion app__item-navegacion--carrito goCarrito"> <i class="app__carrito" data-feather="shopping-cart"></i> <p class="app__NoProducto"></p></li>


                </ul>
            </nav>
</div>
<div class="tienda__fantasma"></div>

<div class="tienda__contenido">


<div class="flex-fixed">
<div class="app__fixed">
    <div class="filtros">
        <ul class="filtros__lista">

             {{#if esJuegos}}

            <li class="filtros__item1">CLASIFICACIÓN</li>

            <li class="filtros__item2">Hasta 3 años <input type="checkbox" onclick="location.href='/tienda/Juegos/?clasificacion=3';"></li>

            <li class="filtros__item2">Hasta 7 años <input type="checkbox" onclick="location.href='/tienda/Juegos/?clasificacion=7';"></li>
            <li class="filtros__item2">Hasta 12 años <input value="checked" type="checkbox" value="12" onclick="location.href='/tienda/Juegos/?clasificacion=12';"></li>
            
            <li class="filtros__item2">Hasta 16 años <input type="checkbox" onclick="location.href='/tienda/Juegos/?clasificacion=16';"></li>

            <li class="filtros__item2">Todos <input type="checkbox"  onclick="location.href='/tienda/Juegos/?clasificacion=18';"></li> 

            <li class="filtros__item1">GENERO</li>
            <li class="filtros__item2">Acción <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Acción';"></li>

            <li class="filtros__item2">Aventura <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Aventura';"></li>

            <li class="filtros__item2">Estrategia <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Estrategia';"></li>
            
            <li class="filtros__item2">Conducción <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Conducción';"></li>

             <li class="filtros__item2">FPS <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=FPS';"></li>
             
            <li class="filtros__item2">Combate <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Combate';"></li>
             

            <li class="filtros__item2">Deportes <input type="checkbox" onclick="location.href='/tienda/Juegos/?categoria=Deportes';"></li>

            {{/if}}

            {{#if esMandos}}

            <li class="filtros__item1">COLOR</li>
            <li class="filtros__item2">Rojo <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Rojo';"></li>
            <li class="filtros__item2">Negro <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Negro';"></li>
            <li class="filtros__item2">Azul <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Azul';"></li> 
            <li class="filtros__item2">Verde <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Amarillo';"></li>
            {{/if}}

            {{#if esConsolas}}

            <li class="filtros__item1">COLOR</li>
            <li class="filtros__item2">Rojo <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Rojo';"></li>
            <li class="filtros__item2">Negro <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Negro';"></li>
            <li class="filtros__item2">Azul <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Azul';"></li> 
            <li class="filtros__item2">Verde <input type="checkbox"  onclick="location.href='/tienda/Mandos/?color=Amarillo';"></li>
            {{/if}}

        </ul>
    </div>
</div>
</div>
<div class="producto__fantasma"></div>
<div class="productos">

    <div class="juegos">

        <div class="filtro1">
           
            <button class="filtro1__tipo" onclick="location.href='/tienda/Juegos/';">Juego</button>
            <button class="filtro1__tipo" onclick="location.href='/tienda/Mandos/';">Mando</button>
            <button class="filtro1__tipo" onclick="location.href='/tienda/Consolas/';">Consola</button>
        </div>

<div class"producto__fantasma"></div>
    {{#each listaProductos}}
                <div class="producto" >
                    <div class="producto__iconos">
                        <i class="far fa-heart producto__corazon"></i>
                        <i class="fas fa-plus producto__mas mas-tienda"></i>
                    </div>

                    <div style= "background-image: url(/imgs/{{this.imagen}})"

                    onclick="location.href='/tienda/detalles/{{this.ref}}';"
                    
                     class="producto__img"></div>

                <div class="producto__info">
                        <div class="producto__titulo">
                            <p class="producto__texto">{{this.nombre}}</p>
                </div>       
                <div class="producto__valor ">             
                    <p class="producto__texto">${{this.precio}}</p>

                </div>
                <input class="categoria" type="hidden" value="{{this.categoria}}">
                <input class="nombre" type="hidden" value="{{this.nombre}}">
                <input class="precio" type="hidden" value="{{this.precio}}">

                </div>
                <div class="producto__estadisticas">


                </div>
                </div>
                {{/each}}
       </div>
    </div>
    </div>
  </section>


    <script src="/js/taller2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>       
   <!--  <script src="/js/tienda.js"></script> -->
</body>         


               
</body>
</html>